h1, h2 {
    color: whitesmoke;
 }
 .titoloesotto {
    padding-left: 600px;
 }

 h3, h4 {
    color: brown;
 }

 header {
     background-color: black;
         
 }
 .fb { /*foto con giacca blue*/
     padding-left: 180px;
     display: flex;
     background-color: white;
     font-size: 30px;
 }
 .corps { /* competenze*/
     text-align: center;
     font-size: 50px;
     background-color: bisque;
 }
 .parag { /*competenze*/
     font-size: 20px;
 }
 h4 {
     font-size: 35px;
 }
 /*.button1, .button2, .button3, .button4 {
     background-color: white; 
     color: white; 
     border: 2px solid #04AA6D;
 }
 .button1:hover, .button2:hover, .button3:hover, .button3:hover, {
    background-color: #04AA6D;
    color: white;      
 }*/

 .bout { /*classe dei buttoni*/ 
    color: white;


}

 .fond { /*capacità*/
     background-color: grey;
 }
 h5 {
     font-size: 40px;
     text-align: center;
     color: brown;
 }
 .exp { /*esperienza*/
     display: flex
 }
  

header > div {
 display: flex;
 justify-content: right;
}