h1, h2 {
    color: whitesmoke;
 }
 header {
     background-color: black;
         
 }
 .fb {
     padding-left: 180px;
     display: flex;
     background-color: white;
     font-size: 30px;
 }
 .corps {
     text-align: center;
     font-size: 50px;
     background-color: bisque;
 }
 .parag {
     font-size: 20px;
 }
 h3 {
     color: brown;
 }
 h4 {
     font-size: 35px;
     color: brown;
 }
 .button {
     border: none;
     color: white;
     padding: 16px 32px;
     text-align: center;
     text-decoration: none;
   
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
 }
 .button1 {
     background-color: white; 
     color: black; 
     border: 2px solid #04AA6D;
 }
 .button1:hover {
     background-color: #04AA6D;
     color: white;
         
 }
 .button2 {
     background-color: white; /* Blue */
     color: black; 
     border: 2px solid #008CBA;
 }
 .button2:hover {
     background-color: #008CBA;
     color: white;
 }
 .fond {
     background-color: grey;
 }
 h5 {
     font-size: 40px;
     text-align: center;
     color: brown;
 }
 .exp {
     display: flex
 }
 .bout {
     display: flex;
     justify-content: right;
     margin-left: 25%;

     gap: 10px;     }     

header > div {
 display: flex;
 justify-content: right;
}